/* Winning Message Styling */
#winning {
  font-family: "Rubik Wet Paint", cursive;
  font-size: 20px;
  padding-top: 240px;
}
@media screen and (max-width: 425px) {
  #title {
    font-size: 40px !important;
  }
  #winning {
    font-size: 15px;
  }
}
