/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");

/* Reset Margin and Padding */
* {
  margin: 0;
  padding: 0;
}
/* Left Slider Styling */
#left {
  left: 50px;
  bottom: 150px;
}

/* Right Slider Styling */
#right {
  top: 150px;
  right: 50px;
}

/* Flex Utility Classes */
.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

/* Title Styling */
#title {
  font-family: "Rubik Wet Paint", cursive;
  color: white;
  font-size: 130px;
  text-align: center;
  padding-top: 140px;
}

/* Body Styling */
body {
  background-color: #000;
}

/* Slider Styling */
.slider {
  padding: 60px 10px;
  background-color: white;
  position: absolute;
  border-radius: 5px;
}

/* Winning Message Styling */
#winning {
  font-family: "Rubik Wet Paint", cursive;
  color: white;
  text-align: center;
  font-size: 20px;
  padding-top: 240px;
}

/* Restart Button Styling */
#button {
  display: flex;
  justify-content: center;
}

#restart_btn {
  color: black;
  background-color: white;
  margin: 70px 0 70px;
  font-size: 40px;
  padding: 20px;
  border-radius: 40px;
  font-family: "Yatra One", cursive;
}
