body {
  overflow: hidden;
}
/* Boxes Container Styling */
#boxes {
  flex-direction: column;
  align-items: center;
}

/* Individual Box Styling */
.box {
  padding: 10px;
  margin: 10px;
}

/* Score Styling */
#score {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 95px;
}

/* Score Span Styling */
#score span {
  padding: 0 50% 0;
}
/* Slider Styling */
#slider1 {
  left: 50px;
  top: 50%; /* change this alone in js */
}
#slider2 {
  top: 15%; /* change this alone in js */
  right: 50px;
}
