body {
  overflow: hidden;
}
/* Boxes Container Styling */
#boxes {
  flex-direction: column;
  align-items: center;
}

/* Individual Box Styling */
.box {
  padding: 10px;
  margin: 10px;
}

/* Score Styling */
#score {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 95px;
}

/* Score Span Styling */
#score span {
  padding: 0 50% 0;
}

/* For Tablet */
@media screen and (max-width: 768px) {
  #game {
    display: flex;
    height: 100%;
  }
  body {
    height: 100vh;
  }
  #boxes {
    flex-direction: row;
    align-self: center;
    overflow: hidden;
  }
  #score {
    right: 2%;
    top: 50%;
    transform: translate(0, -50%);
    flex-direction: column;
    padding: 10px;
  }
  #score span {
    padding: 0;
    text-align: right;
  }
  #player1-score {
    transform: scale(-1, 1);
    text-align: left !important;
  }
}
