/* Theme Selector Styling */
#box {
  align-items: center;
}

#theam_selector {
  padding: 200px 0 0;
}

/* Theme Box Styling */
#theam_box {
  margin: 50px;
  padding: 100px 200px;
}

/* Arrow Styling */
.right_arrow > img,
.left_arrow > img {
  filter: invert(1);
  height: 50px;
  width: auto;
}
