/* Collector Styling */
#collector {
  padding: 10px 70px;
  margin: 150px 0 70px;
}

.levels {
  margin: 15px;
  font-size: 25px;
  padding: 10px;
  border-radius: 20px;
  width: 250px;
}

/* Game Point Styling */
#game_point {
  padding: 20px;
}

#game_point input {
  margin: 30px;
  border-radius: 25px;
  padding: 7px;
  width: 250px;
  font-size: x-large;
}
