/* Font Definitions */
@font-face {
  font-family: "ShadowHand";
  src: url("//2ttf.com/webfont/UIswCwhB/webfont.ttf") format("truetype");
}

/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

/* Reset Margin and Padding */
* {
  margin: 0;
  padding: 0;
}

/* Body Styling */
body {
  background-color: #000;
}

/* Title Styling */
#title {
  font-family: "ShadowHand";
  color: white;
  font-size: 130px;
  text-align: center;
  padding-top: 140px;
}

/* Slider Styling */
.slider {
  padding: 60px 10px;
  background-color: white;
  position: absolute;
  border-radius: 5px;
}

/* Left Slider Styling */
#left {
  left: 50px;
  bottom: 150px;
}

/* Right Slider Styling */
#right {
  top: 150px;
  right: 50px;
}

/* Flex Utility Classes */
.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

/* Player Info Styling */
.players h2,
.players h4 {
  color: white;
  text-align: center;
}

#collector {
  border: 5px solid white;
  padding: 10px 70px;
  display: flex;
  border-radius: 30px;
  margin: 150px 0 70px;
}

.players {
  padding: 10px 30px;
}

.players h2 {
  font-size: 35px;
}

.inputs {
  font-size: 25px;
  padding: 20px;
}

.inputs input {
  border-radius: 25px;
  padding: 10px;
  width: 250px;
  font-size: xx-large;
}

/* Start Button Styling */
#button {
  display: flex;
  justify-content: center;
}

#start_btn {
  color: black;
  background-color: white;
  margin: 0 0 20px;
  font-size: 40px;
  padding: 20px;
  border-radius: 40px;
  font-family: "Yatra One", cursive;
}
