/* Set body overflow to hidden to prevent scrolling */
body {
  overflow: hidden;
}

/* Styling for the container of boxes */
#boxes {
  flex-direction: column;
  align-items: center;
}

/* Styling for the pads */
.pad {
  height: 10vh;
  width: 1.5vh;
  transform: translate(0, -50%);
  background-color: #ffffff; /* White background for sliders */
  position: absolute;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(10, 10, 10, 10); /* Subtle box shadow */
}

/* Styling for player 1 pad */
#player1-pad {
  top: 50vh; /* Initial position for player 1 paddle */
  left: 1.5vw;
}

/* Styling for player 2 pad */
#player2-pad {
  top: 50vh; /* Initial position for player 2 paddle */
  right: 1.5vw;
}

/* Styling for the ball */
#ball {
  --x: 50;
  --y: 50;
  position: absolute;
  height: 2.5vh;
  width: 2.5vh;
  left: calc(var(--x) * 1vw);
  top: calc(var(--y) * 1vh);
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 0px 10px rgba(10, 10, 10, 10);
}

/* Styling for individual boxes */
.box {
  padding: 10px;
  margin: 10px;
}

/* Styling for the score */
#score {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 95px;
}

/* Styling for the score elements */
#score > :first-child {
  border-right: 0.5vh solid;
}

/* Styling for score span */
#score span {
  padding: 0 50% 0;
}

/* Styling for the game */
#game {
  overflow: hidden;
}

/* Hide buttons by default */
.buttons {
  visibility: hidden;
}

/* Media query for tablet screens */
@media screen and (max-width: 768px) {
  /* Show buttons and position them for tablet screens */
  .buttons {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    position: absolute;
  }

  /* Styling for player 1 button on tablet */
  #player1_btn {
    top: 0vh;
    width: 100vw;
  }

  /* Styling for player 2 button on tablet */
  #player2_btn {
    bottom: 0vh;
    width: 100vw;
  }

  /* Adjust pad styling for tablet */
  .pad {
    position: absolute;
    height: 1.5vh;
    width: 10vh;
    transform: translate(0, -50%);
    background-color: white;
  }

  /* Styling for player 1 pad on tablet */
  #player1-pad {
    top: 10vh; /* Initial position for player 1 paddle */
    left: 100%;
  }

  /* Styling for player 2 pad on tablet */
  #player2-pad {
    top: 90vh; /* Initial position for player 2 paddle */
    left: 50%;
  }

  /* Adjust game container styling for tablet */
  #game {
    display: flex;
    height: 100%;
    overflow: hidden;
  }

  /* Adjust body styling for tablet */
  body {
    height: 100%;
    overflow: hidden;
  }

  /* Adjust box container styling for tablet */
  #boxes {
    flex-direction: row;
    align-self: center;
    overflow: hidden;
  }

  /* Adjust score styling for tablet */
  #score {
    right: 2%;
    top: 50%;
    transform: translate(0, -50%);
    flex-direction: column;
    padding: 10px;
  }

  /* Adjust score span styling for tablet */
  #score span {
    padding: 0;
    text-align: right;
  }

  /* Remove border from the first child of the score on tablet */
  #score > :first-child {
    border-right: none;
  }

  /* Scale player 1 score for tablet and set text alignment */
  #player1-score {
    transform: scale(-1, -1);
    text-align: left !important;
  }
}
