* {
  margin: 0px;
  padding: 0px;
}

.logo {
  width: 10vh;
  margin-top: 5vh;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-image: url(https://s3.ap-south-1.amazonaws.com/kalvi-education.github.io/front-end-web-development/superover-bg.png);
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
}

section {
  margin: auto;
}
#team1 {
  background-color: #1658a1;
  border-radius: 10px;
}
#team2 {
  background-color: #46901c;
  border-radius: 10px;
}
.teams {
  border: 2px;
  display: inline-block;
  padding: 20px;
  margin: 60px;
}
p {
  font-size: 60px;
  padding: 20px;
}
.balls {
  background-color: white;
  height: 50px;
  width: 50px;
  display: inline-block;
  border-radius: 50%;
  color: black;
}
.score,
.over {
  font-size: 40px;
  padding: 20px;
}
#strike {
  margin-right: 70px;
}
#button {
  margin-left: 70px;
}

.button {
  height: 100px;
  width: 100px;
}

.buttons {
  margin-top: 80px;
}
